body{
    background-color: #ebeff5;
    }
    #total-orders{
        background-color: #4cb4c7;
    }
    #total-delivered{
        background-color: #7abecc;
    }
    #total-pending{
        background-color: #7CD1C0;
    }