{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}
<style>
    .profile-pic{
        max-width: 200px;
        max-length: 200px;
        margin: 0 auto;
        border-radius: 50%
    }
</style>

<br/>
<div class="row">

    <div class="col-md-3">
        <h5>Customer:</h5>
        <hr/>
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}">Back to Profile</a>
            <hr/>
            <h3>Account Settings</h3>
            <hr/>
            <img class="profile-pic" src="{{ request.user.customer.profile_pic.url }}" />
        </div>
    </div>

     <div class="col-md-9">
         <h5>Profile:</h5>
         <hr/>
        <div class="card card-body">

            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input class="btn btn-primary" type="submit" value="Update Information" />
            </form>
        </div>
    </div>

</div>

{% endblock  %}