{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<br/>



<div class="row">

    <div class="col-md-6">
        <div class="card card-body">
<p>Are you sure you want to delete "{{ order.product }}"?</p>

<form method="post">
    {% csrf_token %}

    <a class="btn btn-warning" href="{% url 'home' %}" class="">Cancel</a>

    <input type="submit" class="btn btn-danger" value="Confirm"  name="Confirm"/>
</form>
        </div>
    </div>
</div>
{% endblock %}