{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}
<br/>
<div class="row">

    <div class="col-md-6">
        <div class="card card-body">
<form method="post">
    {% csrf_token %}

    {{ form }}

    <input type="submit" value="submit" />
</form>
        </div>
    </div>
</div>

{% endblock %}