<br/>
<div class="row">
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-orders">
            <div class="card-header">
                <h5 class="card-title">Total Orders</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ total_orders }}</h5>
            </div>
        </div>
    </div>

</div>

<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-delivered">
            <div class="card-header">
                <h5 class="card-title">Total Delivered</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ delivered }}</h5>
            </div>
        </div>
    </div>

</div>

<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-pending">
            <div class="card-header">
                <h5 class="card-title">Total Pending</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ pending }}</h5>
            </div>
        </div>
    </div>

</div>

</div>