{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/status.html' %}
<br/>
<div class="row">
        <div class="col-md">
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Note</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.category }}</td>
                         <td>{{ order.note }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>
</div>


{% endblock %}